<!DOCTYPE html>
<html lang="en" ng-app="miAplicacion">
    <head>
        <title>Ejemplo Angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/CargarDatos.js" type="text/javascript"></script>
        <link href="css/CSSARIKETAALUMNOS.css" rel="stylesheet" type="text/css"/>
        <!-- Importamos los archivos extras que vamos a usar -->
    </head>
    <body>
        <div ng-controller="mainController">
            <h1>IKASLEEN ZERRENDA</h1>
            <div id="zonalista">
                <ul id="listaalumnos">
                    <li ng-repeat="item in lista| filter:TEXTObusqueda">
                        <span class="peque">{{item.id}}</span>
                        <span class="medio">{{item.nombre}}</span>
                        <span class="medio">{{item.apellido1}}</span>
                        <span class="medio">{{item.apellido2}}</span>
                        <span class="grande">{{item.ciclo}}</span>
                        <span class="medio">{{item.curso}}</span>
                        <span class="peque"><input type="checkbox" ng-model="item.seleccionado"/></span>
                        <span class=""><img src="img/delete.png" width="20" height="20" style="cursor: pointer;" ng-click="eliminar($index,item.id)" alt=""/></span>
                        <span class=""><img src="img/update.png" width="20" height="20" style="cursor: pointer;" ng-click="modificar($index,item)" alt=""/></span>
                    </li>
                </ul>
            </div> 
            <div id="izda" ng-show="verAgregaralumno === 'true'">
                <form id="formagregar" ng-submit="agregar()">
                    <span>ID</span><input type="text" ng-model="misdatos.id" disabled/><br/>
                    <span>NOMBRE</span><input type="text" ng-model="misdatos.nombre"/><br/>
                    <span>APELLIDO1</span><input type="text" ng-model="misdatos.apellido1"/><br/>
                    <span>APELLIDO2</span><input type="text" ng-model="misdatos.apellido2"/><br/>
                    <span>CICLO</span><input type="text" ng-model="misdatos.ciclo"/><br/>
                    <span>CURSO</span>
                    <select name="curso" ng-model="misdatos.curso" ng-disabled="misdatos.ciclo === ''">
                        <option value="primero">primero</option>
                        <option value="segundo">Segundo</option>
                    </select>
                    <input type="submit" value="Agregar Alumno"/>
                    <input type="reset" value="Cancelar" ng-click="cancelar()"/>
                </form>
            </div>
            <div id="izda" ng-show="verModificaralumno === 'true'">
                <form id="formagregar" ng-submit="guardar_modificar()">
                    <span>ID</span><input type="text" ng-model="misdatos.id" disabled/><br/>
                    <span>NOMBRE</span><input type="text" ng-model="misdatos.nombre"/><br/>
                    <span>APELLIDO1</span><input type="text" ng-model="misdatos.apellido1"/><br/>
                    <span>APELLIDO2</span><input type="text" ng-model="misdatos.apellido2"/><br/>
                    <span>CICLO</span><input type="text" ng-model="misdatos.ciclo"/><br/>
                    <span>CURSO</span>
                    <select name="curso" ng-model="misdatos.curso" ng-disabled="misdatos.ciclo === ''">
                        <option value="primero">primero</option>
                        <option value="segundo">Segundo</option>
                    </select>
                    <input type="submit" value="Agregar Alumno"/>
                    <input type="reset" value="Cancelar" ng-click="cancelar()"/>
                </form>
            </div>
            <div id="dcha" ng-show="VerMenu === 'true'">
                <input type="button" value="Alumnonuevo" ng-click="Iniciaragregar()"/>
                <input type="button" value="Eliminar Lista" ng-click="Eliminarlista()"/>
                <input type="button" value="Buscar" ng-click="Buscar()"/>
                <br/><br/>
                <form id="formulariobuscar" ng-show="VerFormBusqueda" ng-submit="finbuscar()">
                    Escriba dato a buscar: <input type="text" ng-model="TEXTObusqueda"/>
                    <input type="submit" value="Finalizar Busqueda"/>
                </form>
                <p></p>
            </div>
            <br/>
        </div>
    </body>
</html>